@charset 'UTF-8'

//-------------------------------
// Settings
//-------------------------------

@import 'normalize.css/normalize.css'
@import 'zenigame'

//-------------------------------
// Base
//-------------------------------

html, body
  font-family: Lato, Verdana, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  font-size: 16px
  letter-spacing: .02em

a
  text-decoration: none
  &:link
    color: $blue700
  &:visited
    color: $blue900
  &:hover
    color: $blue500
    text-decoration: underline
  &:active
    color: $blue800
    text-decoration: underline

//-------------------------------
// Components
//-------------------------------

